/* 하단 영역 */
#footer-area{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
  }
  
  /* 인포메이션 구역 */
  .footer-info{
    width: 800px;
    line-height: 3;
  }
  .info-area{
    padding: 6.5% 10%;
  }
  .info-top{
    white-space: nowrap;
    display: flex;

    li{
      font-size: 1.1rem;
      padding-right: 1%;
    }
    
  }

  .info-top > li:first-child::after{
    content: " • ";
    color: rgb(156, 155, 155);;
  }
  .info-top > li:nth-child(1)~li:nth-child(-n+3)::after{
    content: " • ";
    color: rgb(156, 155, 155);;
    
  }
  .info-mid{
    display: flex;
    color: rgb(112, 112, 112);
  
  }
  .info-mid > li{
    padding-right: 1%;
  }
  .info-mid >li:first-child::after{
    content: " | " ;
  }
  .info-area > span{
    color: rgb(156, 155, 155);
    font-size: .9rem;
  }
  
  /* sns구역 */
  .footer-social{
    width: 600px;
  
  }
  .footer-sns{
    padding: 10%;

    ul{
      display: flex;
      justify-content: space-evenly;
    }
  }
  
  /* 콤보박스 */
  #brand{
   font-weight: bold;
   font-size: 1rem;
   padding: 3% 1%;
   border-radius: 30px;
  }
  
  /* 버튼 */
  .btn-top{
    position: fixed;
    top: 90%;
    width: 3rem;
    height: 3rem;
    right: 2%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;

    a > img{
      position: relative;
      width: 100%;
      bottom: 5%;
     }

  }
 
  


  // 미디어쿼리
  @media screen and (max-width:767px) {
    .info-area {
      padding: 0%; 
      margin-left: 9%;
      padding-top: 13%;
  }
  .footer-sns ul {
    display: block;
  }
  .btn-top {
    right: 3%;
  }
}

@media screen and  (max-width:450px) {
  #footer-area {
   display: block;
  }

  .info-area {
    padding: 3%;
    margin-left: 3%;
  }

  .info-top > li{
    padding-right: 0%;
  }

  .footer-info {
    line-height: 2;
    width: auto;
  }

  .footer-social {
    width: auto;
  }

  .footer-sns {
    padding: 0;
    margin-top: 6%;
  }
  .footer-sns ul {
    display: flex;
    align-items: center;
    gap: 0%;
  }

  .btn-top {
    top: 83%;
 
  }
  
  
}