.intro-box {
  height: 410vh;
}

.intro-top {
  height: 300vh;
  width: auto;
  
}
.intro-img {
  position: absolute;
  top: 9%;
  height: auto;
  
}
.intro-tit {
  position: absolute;
  top: 107%;
  left: 37%;
  font-size: 2.8rem;
}
.intro-header {
  position: relative;
  top: 40%;
}
.intro-header::before {
  content: "";
  display: inline-block;
  width: 1000px;
  margin-left: 20%;
  border: 0.8px solid #c4c3c3;
}
.intro-title {
  position: relative;
  width: 100%;
  height: auto;
  // transform: translate(50%, 50%);
  top: 50%;
  left: 13%;
  padding-top: 7%;
}

.intro-text1,
.intro-text2,
.intro-text3 {
  float: left;
  width: 30%;
  line-height: 1.4;
  opacity: 0;

  span {
    text-align: center;
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.intro-text1.on {
  opacity: 1;
  transition: 1s ease-in-out;
  scale: 1.1;
}
.intro-text2.on {
  opacity: 1;
  transition: 1.6s ease-in-out;
  scale: 1.1;
}
.intro-text3.on {
  opacity: 1;
  transition: 2.1s ease-in-out;
  scale: 1.1;
}

.intro-mv {
  position: relative;
  top: 47%;
}

.intro-mid {
  position: relative;
  bottom: -50%;
  height: 100vh;
}

.intro-mtit {
  max-width: 800px;
  min-height: 700px;
  padding: 15px;
  padding-top: 3%;
  border: 1px solid #dfdfdf;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}
.intro-mtit > ul >li:nth-child(odd)::first-letter {
  font-weight: bold;
  color: #15a775;
  font-size: 1.6rem;
}
.intro-mtit > ul:last-child{
  text-align: center;
  padding-top: 7%;
}

.intro-mtit > ul:last-child > li:first-child{
  padding-top: 4%;
}
.intro-mtit > ul:last-child::before{
  content: "";
  display: inline-block;
  width: 400px;
  border: 0.8px solid #c4c3c3;

}
.intro-mtit > ul:last-child::after{
  content: "";
  display: inline-block;
  width: 400px;
  border: 0.8px solid #c4c3c3;
}

/****************** 미디어쿼리 ******************/
@media screen and (max-width: 1470px) {
  .intro-box {
    height: 440vh;
  }
  .intro-tit {
    top: 96%;
    left: 32%;
    }
    
  .intro-header {
    top: 37%;
  }
  .intro-header::before {
      margin-left: 15%;
  }
    
    .intro-mv {
    top: 45%;
    }

    .intro-mtit > ul:last-child > li:first-child {		    
      padding-top: 6%;
    }
    
}

@media screen and (max-width: 450px) {
    .intro-box {
      height: 350vh;
    } 
    .intro-top {
        height: 220vh;
    }
    .intro-header {
        padding-top: 0%;
    }

  .intro-tit {
    left: -1%;
    top: 48%;
    text-align: center;
  }
  .intro-header::before {
    max-width: 400px;
    margin-left: 1%;
  }

  .intro-title {
    left: 2.5%;
  }

  .intro-text1,
  .intro-text2,
  .intro-text3 {
    margin-left: 1%;
  }

  .intro-text1.on {
    scale: .95;
    padding-top: 10%;
  }
  .intro-text2.on {
    scale: .95;
    padding-top: 10%;
  }
  .intro-text3.on {
    scale: .95;
    padding-top: 10%;
  }

  .intro-mtit > ul:last-child > li:first-child {
    padding-top: 9%;
  }
  .intro-mtit > ul:last-child::before {
    width: 370px; 
  }
  .intro-mtit > ul:last-child::after {
    width: 370px; 
  }

}
