/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx {
  height: 100dvh;
  margin: 11rem 0;
  padding: 25px;
}
/* 전체박스 */
.logicon {
  position: absolute;
  // z-index: -1;
  background: url(../../public/image/samie_txt.png) no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 1.4%;
  margin-left: 4%;
}
.memicon {
  position: absolute;
  // z-index: -1;
  background: url(../../public/image/samie7.png) no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  margin-left: 2%;
}

.membx {
  max-width: 700px;
  min-height: 600px;
  padding: 15px;
  border: 1px solid #555;
  margin: 0 auto;

  h2 {
    text-align: center;
    padding: 40px;
    font-size: 2.7rem;
  }
  h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  li {
    position: relative;
    padding: 25px;
  }
  label {
    display: inline-block;
    width: 25%;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
  }
  input {
    width: 60%;
    height: 3vh;
    margin-left: 5%;
    font-size: 20px;
    vertical-align: baseline;
  }
  .msg {
    position: absolute;
    left: 31%;
    width: 50%;
    font-size: 14px;
    padding: 5px 0;
  }

  .sbtn {
    padding: 15px;
    background-color: #15a775;
    font-size: 20px;
    color: #fff;
    // border: 4px solid darkblue;
    float: right;
    margin-right: 9%;
    cursor: pointer;
    transition: 0.3s;
  }
  .sbtn:hover {
    background-color: #fd7e14;
  }

  ul {
    li:last-child {
      text-align: center;

      a {
        color: #0d6efd;
        // text-decoration: none;

        &:hover {
          color: #fd7e14;
          // text-decoration: overline;
          // text-decoration-style: wavy;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .outbx {
    margin-top: 46%;
  }

  .membx h2 {
    margin-top: 23%;
  }
}
