/* Search 모듈용 CSS - searching.css  */

/* 검색입력창 박스 */
.searching {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  color: #15a775;
  background-color: #efefef;
  box-sizing: border-box;
  padding: 0 5px;
}
.searching input {
  font-size: 1rem;
  line-height: 1.7;
  width: 77%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}
input:focus {
  outline: none;
}
.schbtn {
  cursor: pointer;
  margin-top: 9px;
  margin-left: 10px;
}

.restit {
  font-size: min(39px, 4vw);
  margin: 10px;
}

/* 검색박스 */
.schbx {
  display: flex;
  max-width: 1320px;
  min-height: 600px;
  padding: 20px;
  margin: 20px auto;
  /* border: 1px solid #000; */
}

/* 검색옵션박스 */
.schopt {
  width: 28%;
}
/* 캐릭터리스트 박스 */
.listbx {
  width: 70%;
}

.tit {
  height: 12vh;
}

/* 정렬박스 */
.sortbx {
  padding-bottom: 15px;
  overflow: hidden;
}
.sel {
  float: right;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
}
.sel:focus {
  outline: none;
}

/* 체크박스의 박스 */
.chkbx h2{
    margin: 15px 0 11px;
}
.spbtn{
    display: block;
    float: right;
    margin-right: 5px;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
}
.chkbx ol>li{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

 /* 체크박스 대신 label로 디자인 노출 */
.chklb{
    float: right;
    display: block;
    width: 20px;
    height: 20px;
//     // background-color: #ccc;
//     border: #ccc;
}
// // /* 체크박스 체크시 라벨디자인 변경 */
// input:checked+.chklb{
//     background-color: #fff;
//     text-align: center;
//     font-weight: bold;
//     color: #15a775;
// }
// input:checked+.chklb::before{
//     content: '√';
//     color: #15a775;
//     line-height: 0;
// }

/* searchingData CSS 리스트박스 */
.clist {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}
.clist li {
  width: 31%;
  aspect-ratio: 3 / 3;
}
/* 캐릭터 이미지 */
.clist li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
/* 캐릭터 이름 */
.clist li h3 {
  height: 30%;
  padding: 5% 0%;
  text-align: center;
  // font-size: min(20px,1.7vw);
  font-size: 1.4vw;
  font-weight: normal;
}

@media screen and (max-width: 450px) {
  .schbx {
    display: block;
  }
  .listbx {
    width: 100%;
}


.restit {
	font-size: 5vw;
    margin: 17%;
    text-align: center;
}


.sortbx {
    padding-bottom: 35px;

}


.clist li h3 {
    height: 43%;
    padding-top: 7%;
    font-size: 5vw;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
}
